force-app/main/default/flows/SSN_of_Tenant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>SSN_exist_or_Not</name>
        <label>SSN exist or Not</label>
        <locationX>706</locationX>
        <locationY>171</locationY>
        <defaultConnector>
            <targetReference>SSN_is_not_founded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SSN is not Founded</defaultConnectorLabel>
        <rules>
            <name>SNN_is_founded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SNN</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SSN_is_Founded</targetReference>
            </connector>
            <label>SNN is founded</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SSN  of Tenant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SSN  of Tenant</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_tenant</name>
        <label>Create tenant</label>
        <locationX>1122</locationX>
        <locationY>371</locationY>
        <connector>
            <targetReference>Welcome</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Areacode__c</field>
            <value>
                <elementReference>Areacodetext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_Percentage__c</field>
            <value>
                <elementReference>Discount_percentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Tenantemail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>TenantName.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TenantName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>TenantPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Security_Number__c</field>
            <value>
                <elementReference>SSN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WebSite__c</field>
            <value>
                <elementReference>websiteInput.value</elementReference>
            </value>
        </inputAssignments>
        <object>Tenant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_SNN</name>
        <label>Get SNN</label>
        <locationX>698</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SSN_exist_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Social_Security_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SSN</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tenant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateExistingTenant</name>
        <label>UpdateExistingTenant</label>
        <locationX>433</locationX>
        <locationY>540</locationY>
        <connector>
            <targetReference>Last_Yes_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_fault_message</targetReference>
        </faultConnector>
        <inputReference>Get_SNN</inputReference>
    </recordUpdates>
    <screens>
        <name>Fault_Message</name>
        <label>Fault Message</label>
        <locationX>1294</locationX>
        <locationY>364</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Tenant</targetReference>
        </connector>
        <fields>
            <name>fmessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Please send this error to your system admin.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Fault message :  &lt;/span&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!$Flow.FaultMessage}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Do you want to try again?&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Try Again</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Last_Yes_Screen</name>
        <label>Last Yes Screen</label>
        <locationX>433</locationX>
        <locationY>685</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessfullyUpdateMessage</name>
            <fieldText>&lt;p&gt; {!Get_SNN.Name} {!Get_SNN.Last_Name__c} thanks,update is done&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Tenant</name>
        <label>New Tenant</label>
        <locationX>1109</locationX>
        <locationY>258</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_tenant</targetReference>
        </connector>
        <fields>
            <name>TenantName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TenantPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Tenantemail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Areacodetext</name>
            <dataType>String</dataType>
            <fieldText>Areacode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>additionalInformPut</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Additional Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>websiteInput</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Website</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>additionalInformPut.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Discount_percentage</name>
            <dataType>Number</dataType>
            <fieldText>Discount percentage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>additionalInformPut.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_SSN</name>
        <label>Search SSN</label>
        <locationX>526</locationX>
        <locationY>42</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_SNN</targetReference>
        </connector>
        <fields>
            <name>label1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Tenant Search and Create From Control&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>label2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Search Tenant with SSN number Please :&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SSN</name>
            <dataType>String</dataType>
            <fieldText>SSN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Search</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SSN_is_Founded</name>
        <label>SSN is Founded</label>
        <locationX>439</locationX>
        <locationY>268</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Yes_Second_Screen_Update</targetReference>
        </connector>
        <fields>
            <name>SSNexist</name>
            <fieldText>&lt;p&gt;Tenant with &lt;em style=&quot;color: rgb(42, 42, 234);&quot;&gt; {!SSN} &lt;/em&gt; SSN exists in the system.&lt;/p&gt;&lt;p&gt;Please find the details below.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Name: {!Get_SNN.Name}&lt;/p&gt;&lt;p&gt;Last Name: {!Get_SNN.Last_Name__c}&lt;/p&gt;&lt;p&gt;Phone: {!Get_SNN.Phone__c}&lt;/p&gt;&lt;p&gt;Email: {!Get_SNN.Email__c}&lt;/p&gt;&lt;p&gt;Web Site: {!Get_SNN.WebSite__c}&lt;/p&gt;&lt;p&gt;Discount percentage : {!Get_SNN.Discount_Percentage__c}&lt;/p&gt;&lt;p&gt;Area Code: {!Get_SNN.Areacode__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Would you like to update the above information?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SSN_is_not_founded</name>
        <label>SSN is not founded</label>
        <locationX>959</locationX>
        <locationY>252</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Try again</backButtonLabel>
        <connector>
            <targetReference>New_Tenant</targetReference>
        </connector>
        <fields>
            <name>SSNnotexist</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;There is no any Tenant with  &lt;/span&gt;&lt;em style=&quot;font-size: 14px; color: rgb(33, 39, 224);&quot;&gt;{!SSN} &lt;/em&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;  SSN&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Would you like to create new tenant?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Enroll</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_fault_message</name>
        <label>Update fault message</label>
        <locationX>666</locationX>
        <locationY>552</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Yes_Second_Screen_Update</targetReference>
        </connector>
        <fields>
            <name>updateErrormessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Please send this error to your system admin.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Fault message :  {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Do you want to try again?&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome</name>
        <label>Welcome</label>
        <locationX>1128</locationX>
        <locationY>512</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>message</name>
            <fieldText>&lt;p&gt;Welcome &lt;em style=&quot;color: rgb(33, 30, 202);&quot;&gt;{!TenantName.firstName} {!TenantName.lastName}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;Do you want to go Order page?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Create Order</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Yes_Second_Screen_Update</name>
        <label>Yes Second Screen Update</label>
        <locationX>432</locationX>
        <locationY>389</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateExistingTenant</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_SNN.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_SNN.Last_Name__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_SNN.Email__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_SNN.Phone__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_SNN.Areacode__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>105</locationX>
        <locationY>22</locationY>
        <connector>
            <targetReference>Search_SSN</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
